@{
    ViewData["Title"] = "Search Telephone";
}

<form action="/Home/TelephoneResult">
    ID: <textarea name="telephoneID" id="telephoneID"></textarea><br />
    <input type="submit" value="Press to proceed"> 
</form>